{% for s in students %}
<tr>
    <td>{{ s.name }}</td>
    <td>{{ s.age }}</td>
    <td>{{ s.admission }}</td>
    <td>{{ s.form }}</td>
    <td>{{ s.house }}</td>
    <td>{{ s.club }}</td>

    <td>
       <button class="btn btn-info btn-sm js-add-grade" data-url="{% url 'schapp:add-grade' s.pk %}">
           <i class="fas fa-plus-circle"></i>
       </button>
    </td>

    <td>
        <a href="{% url 'schapp:student-detail' s.pk %}" class="btn btn-success btn-sm"><i class="fas fa-info"></i> </a>
    </td>

    <td>
        <button class="btn btn-primary btn-sm js-update-student" data-url="{% url 'schapp:update-student' s.pk %}">
            <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-danger btn-sm js-delete-student" data-url="{% url 'schapp:delete-student' s.pk %}">
            <i class="fas fa-trash"></i>
        </button>
    </td>


</tr>
{% endfor %}