<form method="post" action="{% url 'schapp:delete-student' s.pk %}" class="js-student-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title" style="font-family: 'Helvetica Neue';">Confirm Student Deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead" style="font-family: Roboto, sans-serif;">Are you sure you want to delete the student <strong>{{ s.name }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>