<form method="post" action="{% url 'schapp:update-student' form.instance.pk %}" class="js-student-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
    </div>
    <div class="modal-body">
        {% include 'schapp/teachers/includes/partial-student-form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Update</button>
    </div>
</form>